.skills{
    padding-top: 80px!important;
    .ant-card{
        height: 200px;
        margin-bottom: 20px;
    }
    .ant-card-head-title{
        font-size: 1rem;
        font-weight: bold;
        word-break: break-word;
        white-space: pre-wrap;
    }
    p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 980px) {
    .skills .ant-card{
        height: 135px;
        margin-bottom: 20px;
    }
}